/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 1400px;


    color: #828282;
    background-color: black;
}


*{
    user-select: none;
}

h2 {
    padding-top: 50px;
    font-size: 5rem;
    margin-bottom: 2rem;
    color: whitesmoke;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

#CText {
    font-size: 2rem;
    line-height: 1.5;
    margin: 15%;
}

#CButton {
    
    font-size: 30px;
    box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.3);
}


/* Header */
.hero {
  position: relative;
  overflow: visible; /* Permette all'immagine di sporgere fuori */
  height: 663px; /* o il valore che preferisci */
  background: url('imgs/7460.png') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}


.holding-phone {
    margin-top: 28px;
    width: 654px;
    font-size: 3rem;
    font-weight: bold;
}


.immgs {
    position: relative;
}

#immg {
    width: 545px;
    margin-left: -95.2px;
    position: relative;
}


.blue {
    color: #00aaff;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Sections */
.section {
    padding: 50px 20px;
    margin: 0 auto;
    background: black;
    margin-bottom: 20px;
    min-height:100vh;
    max-height: fit-content;
    top: 0;
    z-index: 2;
}


section {
  position: relative;
  z-index: 2;       /* Maggiore di #letters e dello sfondo */
  margin-top: -50px; /* Regola questo valore per farla sovrapporre come desideri */
  background: black; /* Assicurati che il background della section sia nero */
}

.features-container, .watch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.feature, .watch-feature {
    flex: 1 1 calc(33% - 20px);
    text-align: center;
}

.icon {
    font-size: 2rem;
    display: block;
    margin-bottom: 10px;
}




#features {
    min-height: 122.5vh;

    padding-top: 300px;
}

#function {
  min-height: 80vh;
  padding-top: 100px;
}

#div-button{
    padding-top: 24px;
}

#function-button {
    padding: 10px;
    width: 390px;
    font-size: 30px;
}

#benefits{
  min-height: 82.8vh;
  padding-top: 80px;
}



.illustrations{

    width: 60%;
    padding-bottom: 15px;
    margin-top: 36px;
    border-radius: 55px;
}


.illustrations2{

    padding-bottom: 15px;
    margin-top: 36px;
    border-radius: 30px;
}



#big-pics{

    width: 390px;
}


#title{

    padding: 10px;
}


button {
    background: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.newsletter-button{

    margin-top: 24px;
    color: white;
    border: 2px solid #00ccff;
    background-color: #00ccff;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.1s ease, background-color 0.1s ease;
    width: 300px;
    font-size: 21px;
}


.newsletter-button:hover{
    
    border-color: #00ccff;
    background-color: black;
    color: white;
}







.form-container {
    max-width: 800px;
    margin: 0 auto;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    background: #121212;
    padding: 20px;
    border-radius: 8px;
}

.form-group.full-width {
    grid-column: 1 / -1;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #dedede;
    font-size: 16px;
}

.required {
    color: #e53e3e;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    font-size: 16px;
    background-color: #1b1b1b;
    color: white;
}

input::placeholder, textarea::placeholder {
    color: #a0aec0;
}

textarea {
    min-height: 120px;
    resize: vertical;
}






@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .features-container, .watch-container {
        flex-direction: column;
    }
    .feature, .watch-feature {
        flex: 1 1 100%;
    }
    nav ul {
        flex-direction: column;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    flex-direction: row;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    align-items: end;
    flex-direction: row-reverse !important;
}

@media screen and (max-width: 675px){

    .navbar{
        align-items: end;
        flex-direction: row-reverse !important;
    }
}

.nav-links {
    display: flex;
    gap: 50px;
    flex-grow: 1;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}

.contact-btn {
    padding: 10px 20px;
    color: white;
    border: 2px solid #00ccff;
    background-color: #00ccff;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.1s ease, background-color 0.1s ease;
}

.contact-btn:hover {
    border-color: #00ccff;
    background-color: rgba(0, 0, 0, 0);
    color: white;

}

@media screen and (max-width: 676px){

    .holding-phone {
        margin-top: 136.1px;
        width: 544.6px;
        font-size: 3rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 561px) {
    .navbar {
        flex-direction: row;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
    
    .nav-links {
        display: none;
    }
    
    .contact-btn {
        margin-left: auto;
    }

    .holding-phone {
        margin-top: 135px;
        width: 54;
        font-size: 3rem;
        font-weight: bold;
        margin-left: -35.4px;
    }

    .illustrations {

        width: 369px;
    }
}


/*
@media screen and (max-width: 1732px) {

    .hero{
        background-image: url('imgs/7460.png');
        background-size: 124%;
        height: 522px;
    }
}





@media screen and (max-width: 1065px) {

    .hero{
        background-image: url('imgs/7459.png');
        background-size: 100%;
    }

    #letters{

        padding-top: 588px;
    }
}



*/
@media screen and (max-width: 640px) {

    .hero{
        background-image: url('imgs/7458.png');
        background-size: 640px;
        height: 735px;
    }

}


@media screen and (max-width: 460px) {

    .hero{
        background-image: url('imgs/7458.png');
        background-size: 589px;
        height: 660px;
    }
}



@media screen and (max-width: 1340px) {

    .illustrations{
        width: 80%;
    }

    .illustrations2{
        width: 60%;
        border-radius: 30px;
    }


    .features-container {
        gap: 39px;
    }
}




#headd{

    width: 40%;
    z-index: -5;
}

#letters {
  position: absolute;
  left: 0;          /* allineata a sinistra, dato che width:100% la fa già centrare */
  width: 100%;
  top: 100%;        /* Posiziona il bordo superiore dell'immagine al bordo inferiore dell'header */
  transform: translateY(-60%);  /* Sposta l'immagine verso l'alto della metà della sua altezza */
  z-index: 3;       /* Sopra lo sfondo dell'header */
}



